<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.wenlar.gezik</string>
	<key>CFBundleName</key>
	<string>Gezik</string>
	<key>CFBundleDisplayName</key>
	<string>Gezik</string>
	<key>CFBundleExecutable</key>
	<string>gezik</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
